<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>{{ request.user.username }}'s Home</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="btn btn-light" href="/user_administration" role="button">User Administration</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="/paket_administration" role="button">Paket Administration</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="/fase_administration" role="button">Fase Administration</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="/category_administration" role="button">Category Administration</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="/option_administration" role="button">Option Administration</a>
            </li>
        </ul>
    </div>
</nav>