{% extends 'base.html' %}
{% block title %}
    Welcome {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content">
            {% include 'home/admin_sidebar.html' %}
            <div class="col-sm-9">
                <div class="well">
                    <table id="category-table" class="display main-table">
                        {% csrf_token %}
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Column Name</th>
                            <th>Option Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <div class="well">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#categoryModal">Create
                        New Category
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="categoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" enctype="multipart/form-data">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Category</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {{ categoryForm.as_p }}
                        {% csrf_token %}

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block base_js %}
    <script type="text/javascript" lang="javascript">

        $(document).ready(function () {

            let main_table = $('#category-table').DataTable({
                "dom":
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "ajax": {
                  "dataType" : 'json',
                  "contentType": "application/json; charset=utf-8",
                  "url": '/api/list_category_admin',
                  "dataSrc": "",
                },
                columns: [
                    {data: 'name'},
                    {data: 'description'},
                    {data: 'column_name'},
                    {data: 'option_type'},
                    {data: 'id'}
                ]
            });

            $('#main_search_bar').keyup(function () {
                main_table.search($(this).val()).draw();
            });

        });

    </script>
{% endblock %}