{% extends 'base.html' %}
{% block title %}
    Welcome {{ request.user.first_name }}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row content">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>{{ request.user.username }}'s progress</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <div class="nav-link">
                            Total Package Done: {{ completed }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            Total Package Left: {{ unfinished }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            Total Tweet Categorized: {{ tweet_categorized }}
                        </div>
                    </li>

                </ul>

              </div>
            </nav>

            <div class="col-sm-9">
                <div class="well">
                    <table id="pakets" class="main-table">
                        {% csrf_token %}
                        <thead>
                            <tr>
                                <th>Nama Paket</th>
                                <th>Status</th>
                                <th>Keterangan</th>
                                <th>Fase</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block base_js %}
    <script type="text/javascript" lang="javascript">

        function createProgressBar(completion) {
            return '<div class="progress"> ' +
                    '<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:' + completion + '%">' +
                        completion + '%' +
                    '</div>' +
                '</div> '
        }

        function createActionButtons(data, is_finished, is_submitted) {
            if (is_submitted) {
                return '<a class="btn btn-info disabled" href="/list_survey/'+data+'"> Edit </a> ' +
                    '<button class="btn btn-info disabled"> Submit </button>'
            }

            if (is_finished) {
                return '<a class="btn btn-info" href="/list_survey/'+data+'"> Edit </a> ' +
                    '<button class="btn btn-info btn-submit" value="'+data+'"> Submit </button>'
            } else {
                return '<a class="btn btn-info" href="/list_survey/'+data+'"> Edit </a> ' +
                    '<button class="btn btn-info disabled"> Submit </button>'
            }
        }

        function submitPaket(id) {
            $.ajax({
                url: '/api/submit_survey/',
                data : {'value': id},
                dataType: 'json',
                type: "POST",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', $('#pakets').find('input:hidden').val());
                },
                success: function (data) {
                    notification = $('.alert')
                    notification.empty().append(data['detail']).show();
                    setTimeout(function(){
                        notification.empty().hide();
                        window.location.reload();
                    }, 2000);
                },
                error : function(xhr,errmsg,err) {
                    alert("There's an error");
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }

        $(document).ready(function () {

            let main_table = $('.main-table').DataTable({
                "dom":
                    "<'row'<'col-sm-12'tr>>",
                ajax: {
                    url: '/api/paket',
                    dataSrc: 'pakets'
                },
                columns: [
                    {data: 'name'},
                    {data: 'status'},
                    {
                        data: 'completion',
                        render: function (data, type, row, meta) {
                            return createProgressBar(data)
                        }
                    },
                    {data: 'related_fase_id'},
                    {
                        data: 'id',
                        render: function (data, type, row, meta) {
                            let is_submitted = row.status != 'Unfinished';
                            let is_finished = row.completion == '100';
                            return createActionButtons(data, is_finished, is_submitted);
                        }
                    }
                ]
            });

            $('#main_search_bar').keyup(function () {
                main_table.search($(this).val()).draw();
            });
            
            $('.main-table').on('click', '.btn-submit', function () {
                let val = $(this).val();
                let is_submitting = confirm("Anda tidak bisa merubah jawaban kembali setelah melakukan submit.\nApakah anda yakin ingin melakukan submit?");
                if (is_submitting) {
                    submitPaket(val);
                }
            });

        });

    </script>
{% endblock %}