{% extends 'base.html' %}
{% block title %}
    Welcome {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content">
            {% include 'home/admin_sidebar.html' %}
            <div class="col-sm-9">
                <div class="well">
                    <!-- Content Here -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create New User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="." method="POST" enctype="multipart/form-data">
                        {{ userAdminForm.as_p }}
                        {% csrf_token %}
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="paketModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Paket</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="." method="POST" enctype="multipart/form-data">
                        {{ paketForm.as_p }}
                        {% csrf_token %}
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Upload CSV</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block base_js %}
    <script type="text/javascript" lang="javascript">

        $(document).ready(function () {

            let main_table = $('#user-table').DataTable({
                "dom":
                    "<'row'<'col-sm-12'tr>>",
                ajax: {
                    url: '/api/list_paket_admin'
                },
                columns: [
                    {data: 'name'},
                    {data: 'status'},
                    {
                        data: 'completion',
                        render: function (data, type, row, meta) {
                            return createProgressBar(data)
                        }
                    },
                    {data: 'related_fase_id'},
                    {
                        data: 'id',
                        render: function (data, type, row, meta) {
                            let is_submitted = row.status != 'Unfinished';
                            let is_finished = row.completion == '100';
                            return createActionButtons(data, is_finished, is_submitted);
                        }
                    }
                ]
            });

            $('#main_search_bar').keyup(function () {
                main_table.search($(this).val()).draw();
            });

        });

    </script>
{% endblock %}