{% extends 'base.html' %}

{% block title %}
    Survey for {{ request.user.first_name }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row content">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Progress</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item" style="padding: 8px 16px;">
                            <div class="progress">
                                <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span id="current-progress"></span>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a id="paket-submit" class="nav-link">
                                {% csrf_token %}
                                <button class="btn btn-info btn-submit" value="{{ id_paket }}"> Submit </button>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Surveys</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {% for paket in pakets %}
                            <li class="nav-item">
                                <a class="nav-link" href="/list_survey/{{ paket.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    {{ paket.name }} - {{ paket.completion }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
              </div>
            </nav>

            <div class="col-sm-9">

                <div class="well">
                    <table id="survey" class="display main-table">
                        {% csrf_token %}
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Text</th>
                                {% for category in related_column_name %}
                                    <th>{{ category.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_js %}
    <script>
        $(document).ready(function() {

            let current_progress = {{ completion }};
            let value_per_answer = {{ value_per_answer }};

            $("#dynamic")
                .css("width", current_progress + "%")
                .attr("aria-valuenow", current_progress)
                .text(current_progress + "% Complete");

            displaySubmitButton(current_progress);

            function createOptions(category, name, value, option_type, is_selected){

                if(option_type === "SO"){
                    return createRadioButton(category, name, value, is_selected);
                } else if(option_type === "MO"){
                    return createCheckbox(category, name, value, is_selected);
                } else if(option_type === "TY"){
                    return createTypedValue(category, name, value);
                } else {
                    return "Invalid Option Type";
                }
            }

            function createCheckbox(category, name, value, is_selected){

                var selected_status = "";

                if(is_selected === 1){
                    selected_status = "checked";
                }

                return "<input class='annotation_answer' type='checkbox' name='"+category+"' value='"+value+"' "+selected_status+"> "+name+"<br>";
            }

            function createTypedValue(category, name, value){
                return "<input class='annotation_answer' type='text' name='"+category+"' id='"+value+"'/><br>";
            }

            function createRadioButton(category, name, value, is_selected){

                var selected_status = "";

                if(is_selected === 1){
                    selected_status = "checked";
                }

                return "<input class='annotation_answer' type='radio' name='"+category+"' value='"+value+"' "+selected_status+"> "+name+"<br>";
            }

            function ajaxForAnnotatingTweet(encoded_value) {
                $.ajax({
                    url: '/api/annotate_survey/',
                    data : {'value': encoded_value},
                    dataType: 'json',
                    type: "POST",
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', $('#survey').find('input:hidden').val());
                    },
                    success: function (data) {
                        notification = $('.alert')
                        notification.empty().append(data['detail']).show();
                        incrementProgressBar(data['detail'], data['is_progressing']);
                        setTimeout(function(){
                            notification.empty().hide();
                        }, 2000);
                    },
                    error : function(xhr,errmsg,err) {
                        alert("There's an error");
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }

            function incrementProgressBar(message, is_progressing){
                let multiplier = 0;

                if(is_progressing) {
                    if(message.indexOf('Annotating') !== -1){
                        multiplier = 1;
                    } else if (message.indexOf('Remove') !== -1){
                        multiplier = -1;
                    }

                    current_progress += (multiplier * value_per_answer);
                    $("#dynamic")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                }

                displaySubmitButton(current_progress);;
            }

            function submitPaket(id) {
                $.ajax({
                    url: '/api/submit_survey/',
                    data : {'value': id},
                    dataType: 'json',
                    type: "POST",
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', $('#paket-submit').find('input:hidden').val());
                    },
                    success: function (data) {
                        notification = $('.alert');
                        notification.empty().append(data['detail']).show();
                        setTimeout(function(){
                            notification.empty().hide();
                            window.location.href = '/home/';
                        }, 2000);
                    },
                    error : function(xhr,errmsg,err) {
                        alert("There's an error");
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }

            function displaySubmitButton(progress) {
                if (progress < 100) {
                    $('.btn-submit')
                        .css('display', 'none')
                        .addClass('disable')
                } else {
                    $('.btn-submit')
                        .css('display', 'block')
                        .removeClass('disable')
                }
            }

            let main_table = $('.main-table').DataTable( {
                "dom":
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "ajax": {
                  "dataType" : 'json',
                  "contentType": "application/json; charset=utf-8",
                  "url": '/api/list_survey_based_on_paket/{{ id_paket }}',
                  "dataSrc": "",
                },

                columns: [
                    { data: 'id' },
                    { data: 'tweet_username' },
                    { data: 'tweet_text' },
                    {% for category in related_column_name %}
                        { data: '{{ category.column_name }}',
                            render: function ( data, type, row, meta ) {

                                var results_{{ category.column_name }} = "";
                                var category_name = '{{ category.column_name }}_'+row['id'];
                                data.forEach(function (element, i) {

                                    results_{{ category.column_name }} = results_{{ category.column_name }} + createOptions(category_name, element['name'], element['value'], "{{ category.option_type }}", element['selected']);
                                });

                                return results_{{ category.column_name }};
                            }
                        },
                    {% endfor %}
                ]
            } );

            $('#main_search_bar').keyup(function () {
                main_table.search($(this).val()).draw();
            });

            $('#survey').on("click", ".annotation_answer", function() {
                value_of_options = $(this).val();
                ajaxForAnnotatingTweet(value_of_options)

            });

            $('.btn-submit').on('click', function () {
                let val = $(this).val();
                let is_submitting = confirm("Anda tidak bisa merubah jawaban kembali setelah melakukan submit.\nApakah anda yakin ingin melakukan submit?");
                if (is_submitting) {
                    submitPaket(val);
                }
            });

        });

    </script>
{% endblock %}