{% extends 'base.html' %}
{% block title %}
    Welcome {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content">
            {% include 'home/admin_sidebar.html' %}
            <div class="col-sm-9">
                <div class="well">
                    <table id="paket-table" class="display main-table">
                        {% csrf_token %}
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Related User</th>
                            <th>Status</th>
                            <th>Completion</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <div class="well">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#paketModal">Insert
                        New Paket
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paketModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" enctype="multipart/form-data">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Paket from CSV</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {{ paketForm.as_p }}
                        {% csrf_token %}

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Upload CSV</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block base_js %}
    <script type="text/javascript" lang="javascript">

        $(document).ready(function () {

            function createProgressBar(completion) {
                return '<div class="progress"> ' +
                    '<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:' + completion + '%">' +
                    completion + '%' +
                    '</div>' +
                    '</div> '
            }

            let main_table = $('#paket-table').DataTable({
                "dom":
                    "<'row'<'col-sm-12'tr>>",
                "ajax": {
                  "dataType" : 'json',
                  "contentType": "application/json; charset=utf-8",
                  "url": '/api/list_paket_admin',
                  "dataSrc": "",
                },
                columns: [
                    {data: 'name'},
                    {data: 'related_user'},
                    {data: 'status'},
                    {
                        data: 'completion',
                        render: function (data, type, row, meta) {
                            return createProgressBar(data)
                        }
                    },
                ]
            });

            $('#main_search_bar').keyup(function () {
                main_table.search($(this).val()).draw();
            });

        });

    </script>
{% endblock %}