{% extends 'admin/base.html' %}
{% load i18n admin_static admin_list %}
{% block title %} Import Paket and Tweet Data from CSV{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/home/">Home</a>
&rsaquo; <a href="/admin/paket/">Paket</a>
&rsaquo; Import Paket and Tweet Data from CSV
</div>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
{% block content %}
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Upload CSV</button>
        </form>
    </div>
    <br />

{% endblock %}